.el-button-block {
  display: block;
  width: 100%;
}

#layout-aside .el-menu {
  border-right: none;
  margin-left: 10px;
}

// 选中的菜单项会被 elementplus 添加 is-active class
.is-active {
  background-color: #3a8ee6 !important;
}

// 被展开的菜单项会被 elementplus 添加 is-opened class
// 有多个二级菜单的一级菜单展开后 class="el-sub-menu is-active is-opened"
//.el-sub-menu.is-active.is-opened{
.is-opened{
  .el-sub-menu__title {
    background-color: #f56c6c;
  }
}

.aside-menu-svg {
  margin-right: 5px;
  margin-top: -2px;
  font-size: 18px;
}

// 由于富文本编辑器的 z-index 为 10001，遮盖了编辑页面中的所有弹出层（一般2XXX），
// 由于 z-index 值越大越顶层，所以需要将 el 组件的 z-index 值设置为 10002（大一点就行），
// el 弹出层的元素 class="el-popper xxxx"
.el-popper {
  z-index: 10002 !important;
}